/* common/body elements */
body{
    background-color: cornflowerblue;
}
.navLeft{
    text-align: left;
}
.navRight{
    text-align: right;
}

/* Header and Title Bar */
/* Nav bars */
/* Slideshow */
.slideshow{
    display:none;
}
.slideshowSection div{
    
    margin: auto;
}
/* Sidebar/Merch Section */
/* footer and second Nav elementnts */